<footer>
  <div class="container-fluid ps-0">
    <div class="row ">
      <div class="col-md-6 p-0">
        <div class="picture position-relative h-100">
          <img src="images/watching.jpeg" class="w-100 h-100 object-fit-cover" alt="" />
          <div class="layer position-absolute top-0 w-100 h-100"></div>
        </div>

      </div>
      <div class="col-md-6 mt-4 mt-lg-0 pt-md-3 d-flex flex-column  justify-content-center">
        <div class="logo d-flex align-items-center gap-4 ps-3 ps-lg-0  ">
          <h2>CimaClub</h2>
          <img src="images/clapperboard.png" alt=""  />
        </div>
        <p class="fs-1 mt-2 ms-4">
          Make Your Favourite Movie Night Even More Special at Home with
          Unlimited Streaming and Exclusive Content! 🍿🎬✨
        </p>
      </div>
    </div>
  </div>
</footer>
